:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);
    }
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: "Lexend Deca", sans-serif;
        background-color: var(--background-headings-buttons);
        font-size: 15px;
        }

    h1{
        font-family: "Big Shoulders Display", sans-serif;
        Color: var(--background-headings-buttons);
        font-weight: 700;
        font-size: 38px;
    }


    .container {
        display: flex;
        color: var(--paragraphs);
        width: 765px;
        height: 420px;
        border-radius: 8px;
        overflow: hidden;
    }

    .orange{
        background-color: var(--Bright-orange);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cyan{
        background-color: var(--Dark-cyan);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .green{
        background-color: var(--Very-dark-cyan);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container p{
        line-height: 1.5;
        font-weight: 300;
        font-size: 13px;
    }

    
    .container button{
        width: 126px;
        height: 45px;
        background-color: var(--background-headings-buttons);
        border: solid;
        border-radius: 60px;
        cursor:pointer;
        margin-top: 12%;
    }

    .orange button{
        Color: var(--Bright-orange);
    }

    .cyan button{
        Color: var(--Dark-cyan);
    }

    .green button{
        Color: var(--Very-dark-cyan);
    }



    .container button:hover {
        color: var(--background-headings-buttons);
        background-color: rgba(255, 255, 255, 0);
    }


    
    @media screen and (max-width: 500px){

        body{
            height: 200vh;
            }
        
        .container{
            display: flex;
            flex-direction: column;
            width: 290px;
            height: 1170px;
        }

        .container button{
            margin: 0%;  
            width: 135px;  
        }

        .orange,
        .cyan,
        .green {
            gap: 24px;
        }

        .container p{
            font-size: 14px;
        }


    }

/* Transisiones*/
    @media screen and (min-width: 500px){
.orange,
.cyan,
.green {
    transition: transform 0.3s ease; 
}

.orange:hover,
.cyan:hover,
.green:hover{
    transform: translateY(-10px);
}
    }